<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Secteurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_recettes') }}">Recettes</a>
                        <a class="dropdown-item" href="{{ path('app_info') }}">Informatique</a>
                        <a class="dropdown-item" href="{{ path('app_videos') }}">Vidéos</a>
                        <a class="dropdown-item" href="{{ path('app_divers') }}">Divers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Films
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('app_films') }}">Tous mes films</a>
                        <a class="dropdown-item disabled" href="{{ path('app_film_new') }}">Ajoutyer un film</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('tools_find_imbd') }}">Chercher un film d'après son titre</a>
                        <a class="dropdown-item disabled" href="{{ path('tools_find_imbd') }}">Chercher un film d'après son id</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_test', {'titre': "Swallows and Amazons", 'annee': '1974'}) }}">Tests</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_workflow', {'titre': "Swallows and Amazons", 'annee': '1974'}) }}">Workflow</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link btn btn-danger" href="{{ path('app_admin') }}">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
</div>