{% extends 'base.html.twig' %}

{% block title %}Films et séries{% endblock %}

{% block body %}
    <div class="container">
        toto
        {{ dump(data) }}
{#        <div class="row">#}
{#            <h1> {{ data.title }}</h1>#}
{#            <h5>{{ data.tagline }}</h5>#}
{#            <hr>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-4">#}
{#                <h4><span class="fw-bold">Id : </span>{{ data.id }} - <span#}
{#                            class="fw-bold">Imdb_id : </span>{{ data.imdb_id }}</h4>#}
{#                <div class="imgBx">#}
{#                    <img class="test"#}
{#                         src="{{ asset('https://image.tmdb.org/t/p/w500'~data.poster_path ) }}"#}
{#                         alt="Card image Informatique"#}
{#                         style="height: 10rem">#}
{#                </div>#}
{#                <br>#}
{#                <p><span class="fw-bold">Résumé : </span>{{ data.overview }}</p>#}
{#            </div>#}
{#            <div class="col-4">#}
{#                <p><span class="fw-bold">Adultes :  </span>{{ data.adult }}</p>#}
{#                {% if  data.belongs_to_collection is not null %}#}
{#                    <p><span class="fw-bold">Collection  : </span>{{ data.belongs_to_collection.name }}</p>#}
{#                {% endif %}#}
{#                <p><span class="fw-bold">Genres : </span>#}
{#                    {% for genre in data.genres %}#}
{#                        {{ genre.name }},#}
{#                    {% endfor %}</p>#}
{#                <p><span class="fw-bold">Homepage : </span>{{ data.homepage }}</p>#}
{#                <p><span class="fw-bold">Langue originale : </span>{{ data.original_language }}</p>#}
{#                <p><span class="fw-bold">Titre original : </span>{{ data.original_title }}</p>#}

{#                <p><span class="fw-bold">Popularité : </span>{{ data.popularity }}</p>#}
{#                <p><span class="fw-bold">Compagnies : </span>#}
{#                    {% for cie in data.production_companies %}#}
{#                        {{ cie.name }},#}
{#                    {% endfor %}</p>#}
{#            </div>#}
{#            <div class="col-4">#}
{#                <p><span class="fw-bold">Pays : </span>#}
{#                    {% for pays in data.production_countries %}#}
{#                        {{ pays.name }},#}
{#                    {% endfor %}</p>#}
{#                <p><span class="fw-bold">Date de sortie : </span>{{ data.release_date }}</p>#}
{#                <p><span class="fw-bold">Revenue : </span>{{ data.revenue }}</p>#}
{#                <p><span class="fw-bold">Runtime ??? : </span>{{ data.runtime }}</p>#}
{#                <p><span class="fw-bold">Langues : </span>#}
{#                    {% for langue in data.spoken_languages %}#}
{#                        {{ langue.name }},#}
{#                    {% endfor %}</p>#}
{#                <p><span class="fw-bold">Status : </span>{{ data.status }}</p>#}
{#                <p><span class="fw-bold">Video : </span>{{ data.video }}</p>#}
{#                <p><span class="fw-bold">Moyenne des votes : </span>{{ data.vote_average }}</p>#}
{#                <p><span class="fw-bold">Nb de votes : </span>{{ data.vote_count }}</p>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <a href="{{ path('tools_find_imbd') }}" class="btn btn-info mt-3 ">Chercher un autre titre</a>
        </div>

    </div>
{% endblock %}
