{% extends 'base.html.twig' %}

{% block title %}Films et séries{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <p imgBx><img src="/uploads/affiches{{ film.media }}" alt="/uploads/affiches{{ film.media }}"
                              style="width: 300px; height: 450px"></p>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="jumbotron  jumbotron-fluid my-3 p-3 text-center">
                        <h1> {{ film.titre }}</h1>
                        <h5>{{ film.slogan }}</h5>
                    </div>

                    <div class="col-4">
                        <h4><span class="fw-bold">Id : </span>{{ film.id }} - <span
                                    class="fw-bold">Code Tmdb : </span></h4>
                        <br>
                        <p><span class="fw-bold">Résumé : </span>{{ film.resume }}</p>
                    </div>
                    <div class="col-4">
                        {% if  film.franchise is not null %}
                            <p><span class="fw-bold">Collection  : </span>{{ film.franchise.name }}</p>
                        {% endif %}
                        <p><span class="fw-bold">Genres : </span>
                            {% for genre in film.genres %}
                                {{ genre.name }},
                            {% endfor %}</p>
                        <p><span class="fw-bold">Titre original : </span>{{ film.titreOriginal }}</p>
                    </div>
                    <div class="col-4">
                        <p><span class="fw-bold">Date de sortie : </span>{{ film.releaseDate |date }}</p>
                        <p><span class="fw-bold">Slogan : </span>{{ film.slogan }}</p>
                        <p><span class="fw-bold">Langues : </span>
                            {% for langue in film.langues %}
                                {{ langue.name }},
                            {% endfor %}</p>
                        {#                    <p><span class="fw-bold">Video : </span>{{ film.video }}</p> #}
                        {#                    <p><span class="fw-bold">Moyenne des votes : </span>{{ film.vote_average }}</p> #}
                        {#                    <p><span class="fw-bold">Nb de votes : </span>{{ film.vote_count }}</p> #}
                        {#                </div> #}
                    </div>
                </div>
            </div>
            <div class="row">
                <a href="{{ path('app_films') }}" class="btn btn-info mt-3 ">Retour à l'index</a>
            </div>

        </div>
    </div>
    {{ dump(film) }}
{% endblock %}
